<div class="container">

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h1>The restaurant</h1>
    <h2><%= @restaurant.name %></h2>
    <h2><%= @restaurant.address %></h2>
    <h2><%= @restaurant.category %></h2>
    <h2><%= @restaurant_id  %></h2>
    <div class="rating-content">
    <ul>
    <% @restaurant.reviews.each do |review| %>
      <p> <%= review.content %> <%= review.rating %> stars </p>
    <% end %>
    </ul>
    </div>
    <%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    <%= link_to "Back", restaurants_path, class: "btn btn-success" %>
  </div>
</div>


</div>


